* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #000000;
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 5%, rgba(112, 112, 112, 1) 60%, rgba(255, 255, 255, 1) 95%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p, h1, h2, h3 {
    color: white;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black;  */
    width: 1500 px;
    padding: 10px;
    padding-top: 90px;
    padding-bottom: 90px;
    gap: 20px;
}

.headerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
}

.quotesDiv {
    font-size: 25px;
}

.image1 {
    width: 500px;
}

.shortStatementDiv {
    width: 1000px;
    font-size: 20px;
}

.workImagesDiv {
    width: 1240px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.image2 , .image3 {
    height: 500px;
}

.linksDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dropdown {
    display: flex;
    align-items: start;
    padding: 50px;
    height: 50px;
    width: 50px;
}

.dropdown button {
    background-color: hsl(0, 0%, 37%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: large;
    height: 50px;
    width: 50px;
    border-radius: 7px;
}

.dropdown a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    font-size: large;
    height: 40px;
    align-items: center;
}

.homeAbout {
    border-bottom: 0.2px solid rgb(77, 77, 77) ;
    border-right: 40px;
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 74%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
    margin-top: 50px;
    border-radius: 7px;
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover button {
    background-color: hsl(0, 0%, 0%);
}

.dropdown a:hover {
    background-color: hsl(0, 0%, 65%);
}