body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000000;
background: linear-gradient(45deg, rgba(0, 0, 0, 1) 5%, rgba(112, 112, 112, 1) 60%, rgba(255, 255, 255, 1) 95%);
}

p, h1, h2, h3 {
    color: white;
}

.mainDiv {
    border: 2px solid black;
    width: 1140px;
    padding: 10px;
}

.image1 {
    width: 500px;
}

.image2 , .image3 {
    height: 300px;
}