body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainDiv {
    border: 5px solid black;
    width: 1390px;
    padding: 10px;
}

.image1 {
    width: 500px;
}

.image2 , .image3 {
    height: 300px;
}